body{
  margin: 0;
  padding: 0;
  background: #000;
}
#btn{
  width: 200px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffc107;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
}
#btn:before{
  color: white;
  font-family: sans-serif;
  content: 'Hover Me';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  transition: all 0.5s;
}
#btn:hover:before{
  top: -30px;
}
#btn:after{
  font-family: 'Ionicons';
  content: '\f141';
  font-size: 40px;
  color: #f44336;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 140%;
  transition: all 0.5s;
}
#btn:hover:after{
  top: 50%;
}
